.container {

  padding: 0  0 3rem ;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  padding: 0 0;
  margin : 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}
